.background {
    position: absolute;
    flex-grow: 1;
    align-self: center;
    width: 1920px;
    height: 100%;
    background-image: url("project://database/Assets/Custom/Art/Sprites/UI/Background%20-%20Copy.png?fileID=21300000&guid=ec44452f9c99b3c4ebab2c13b863b8d8&type=3#Background - Copy");
    -unity-slice-left: 0;
    -unity-background-scale-mode: scale-and-crop;
    justify-content: flex-start;
    align-items: stretch;
    visibility: visible;
}

.parent-container {
    position: absolute;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}

.child-container-up {
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    max-height: 25%;
}

.child-container-middle {
    background-color: rgba(0, 255, 0, 0);
    flex-grow: 1;
    justify-content: center;
    align-self: center;
    width: 100%;
    min-height: 40%;
    align-items: center;
}

.child-container-down {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 255, 0);
    align-items: center;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    max-height: 20%;
}

.txtSelectLevel {
    background-color: rgba(255, 0, 0, 0);
    -unity-font: url("project://database/Assets/Custom/Art/Sprites/UI/Fonts/UpheavalPro.ttf?fileID=12800000&guid=c85fe93e6fb0ecd499db97aa4809d1bf&type=3#UpheavalPro");
    font-size: 175px;
    -unity-font-definition: initial;
    -unity-font-style: italic;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    -unity-text-outline-width: 0.1px;
    letter-spacing: 10px;
    -unity-paragraph-spacing: 5px;
    top: 0;
    width: 100%;
    flex-shrink: 0;
    align-items: stretch;
    align-self: center;
    min-height: 192px;
    position: relative;
}

.imgLevelOne {
    align-self: center;
    background-image: url("project://database/Assets/Custom/Art/Sprites/Background/game_background_1/game_background_1.png?fileID=21300000&guid=69f66fe607725fa40a87c4ca70976052&type=3#game_background_1");
    min-height: auto;
    -unity-background-scale-mode: scale-and-crop;
    width: 100%;
    height: 100%;
    max-width: 720px;
    align-items: center;
    border-left-color: rgb(0, 55, 115);
    border-right-color: rgb(0, 55, 115);
    border-top-color: rgb(0, 55, 115);
    border-bottom-color: rgb(0, 55, 115);
    border-top-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    border-left-width: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
}

.buttons-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    height: 15%;
    max-height: 25%;
}

.btnBack {
    background-image: url("project://database/Assets/Custom/Art/Sprites/UI/Button1%20R.png?fileID=21300000&guid=59e50cef0bc5fc8479d59c000503eb8a&type=3#Button1 R");
    -unity-background-scale-mode: scale-to-fit;
    height: 100%;
    width: 400px;
    background-color: rgba(0, 0, 0, 0);
}

.btnStart {
    background-image: url("project://database/Assets/Custom/Art/Sprites/UI/Button1%20G.png?fileID=21300000&guid=c583c7f8785a6214e8d2c1215688684d&type=3#Button1 G");
    -unity-background-scale-mode: stretch-to-fill;
    max-height: 100%;
    flex-grow: 1;
    width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.btn-common {
    -unity-font-definition: initial;
    -unity-font: url("project://database/Assets/Custom/Art/Sprites/UI/Fonts/Agdasima-Regular.ttf?fileID=12800000&guid=840b2655d67d9c449bf28a480a2c00af&type=3#Agdasima-Regular");
    font-size: 72px;
    -unity-text-align: middle-center;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    border-top-width: -1px;
    border-right-width: -1px;
    border-bottom-width: -1px;
    border-left-width: -1px;
}

.parent-container--hidden {
    position: absolute;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    display: flex;
    visibility: hidden;
}
